<div class="page-header">
  <h3>Role #<%= @role.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>

      <dd><%= @role.title %></dd>

      <dt>Code</dt>
      <dd><%= @role.code %></dd>
      <dt>Skills</dt>
      <dd><%=@activities%></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roles" class="btn btn-primary">
        Back
      </a>
      <a href="/roles/<%= @role.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_role/<%= @role.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
